body {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #d2d2d2;
}

#header {
  width: 100%;
  background-color: #fcefe3;
  padding: 1px;
  border-top: 4px dashed #eeb493;
  border-bottom: 4px dashed #eeb493;
  height: auto;
  /*box-shadow: 1px 1px 4px black;*/
<<<<<<< HEAD:style.css
  position: fixed;
}
#header #companyName {
  font-size: 5vw;
  font-family: sans-serif;
  font-weight: bold;
  color: #e46e7f;
  text-shadow: 1px 1px 5px black;
  display: inline-block;
  padding-right: 170px;
}
#header #logo {
  display: inline-block;
  float: left;
  text-align: center;
  margin: 0;
  padding: 0;
}
#header #logo img {
  width: 7vw;
}
#header #nav {
  float: right;
  margin-top: 30px;
}
#header #nav label {
  clear: right;
  margin: 0 40px 0 0;
  font-size: 34px;
  line-height: 70px;
  display: none;
  float: right;
  width: 34px;
}
#header #nav #toggle {
  display: none;
}
@media only screen and (max-width: 400px) {
  #header #nav label {
    display: block;
    cursor: pointer;
  }
  #header #nav #toggledNav {
=======
  position: fixed; }
  #header #companyName {
    font-size: 5vw;
    font-family: sans-serif;
    font-weight: bold;
    color: #e46e7f;
    text-shadow: 1px 1px 5px black;
    display: inline-block;
    padding-right: 170px; }
  #header #logo {
    display: inline-block;
    float: left;
>>>>>>> 4d33bdd6277dabe0b3f515bc2c3d56c112b46744:styles/about.css
    text-align: center;
    width: 100%;
    display: none;
  }
  #header #nav #toggledNav li {
    display: inline-block;
    padding-bottom: 5px;
    margin: 0;
<<<<<<< HEAD:style.css
  }
  #header #nav #toggle:checked + #toggledNav {
    display: block;
  }
}
#header #nav li {
  list-style-type: none;
  display: inline-block;
  padding-right: 20px;
  font-size: 21px;
  font-weight: bold;
  font-family: sans-serif;
}
#header #nav li a {
  text-decoration: none;
  color: #e46e7f;
}
#header #nav li a:hover {
  border-bottom: 2px dashed #dec732;
}
=======
    padding: 0; }
    #header #logo img {
      width: 8vw; }
  #header #nav {
    float: right;
    margin-top: 30px; }
    #header #nav label {
      clear: right;
      margin: 0 40px 0 0;
      font-size: 34px;
      line-height: 70px;
      display: none;
      float: right;
      width: 34px; }
    #header #nav #toggle {
      display: none; }
    @media only screen and (max-width: 400px) {
      #header #nav label {
        display: block;
        cursor: pointer; }
      #header #nav #toggledNav {
        text-align: center;
        width: 100%;
        display: none; }
        #header #nav #toggledNav li {
          display: inline-block;
          padding-bottom: 5px;
          margin: 0; }
      #header #nav #toggle:checked + #toggledNav {
        display: block; } }
    #header #nav li {
      list-style-type: none;
      display: inline-block;
      padding-right: 20px;
      font-size: 21px;
      font-weight: bold;
      font-family: sans-serif; }
      #header #nav li a {
        text-decoration: none;
        color: #e46e7f; }
        #header #nav li a:hover {
          border-bottom: 2px dashed #dec732; }
    #header #nav .active {
      border-bottom: 2px dashed #dec732; }
>>>>>>> 4d33bdd6277dabe0b3f515bc2c3d56c112b46744:styles/about.css

/******************************************/
.jumbotron {
  background-image: url("../photos/candyBG.jpg");
  background-size: cover;
<<<<<<< HEAD:style.css
  background-position: center;
}

#contents {
  width: 100%;
  height: auto;
  margin: 0;
}
#contents #area1 {
  padding: 10px;
  background-color: #ebe6e6;
  text-align: center;
}
#contents #area1 h2 {
  font-family: times;
  text-transform: uppercase;
  color: #785c5c;
}
#contents #area1 h1 {
  color: #e46e7f;
  font-family: times;
}
#contents #area1 p {
  color: #785c5c;
  font-family: times;
  font-size: 25px;
}
#contents #area2 {
  text-align: center;
  color: #785c5c;
  font-size: 40px;
  font-weight: bold;
  background-color: #84b3ff;
  padding: 1px;
}
#contents #area2 li {
  list-style-type: none;
  display: inline-block;
  padding-right: 20px;
}
=======
  background-repeat: no-repeat;
  height: 500px; }
  .jumbotron .display-4 {
    margin-top: 125px;
    font-size: 80pt;
    font-family: times, sans-serif;
    color: #fcefe3;
    text-shadow: 1px 1px 10px white; }
  @media only screen and (max-width: 400px) {
    .jumbotron .display-4 {
      text-align: center; } }

#contents1 {
  width: auto;
  padding: 5px;
  margin-top: -50px;
  background-color: #fcefe3;
  color: #e46e7f; }
  #contents1 h1 {
    text-align: center; }
>>>>>>> 4d33bdd6277dabe0b3f515bc2c3d56c112b46744:styles/about.css

#footer {
  width: auto;
  height: auto;
  padding: 1px;
  background-color: #99ff84;
  text-align: center;
  color: #785c5c;
}
#footer li {
  list-style-type: none;
  padding-right: 10px;
  display: inline-block;
}
#footer li img {
  width: 50px;
}

/*# sourceMappingURL=about.css.map */
